*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  max-width: 100vw;
  max-height: 100vh;
  margin: 75px;
  padding: 0px;
}

.product-header{
  padding-top: 75px;
  padding-bottom: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
}

.product-mediator{
  border-top: 1px solid #dfdddd;
  border-bottom: 1px solid #dfdddd;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter{
  display: flex;
  gap: 50px;
}

.filters{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #858080;
  cursor: pointer;
}